<header>
    <div>
        <ul>
            <li><a href="/">Home</a></li>
            <% if(isLoggedIn){ %>
                <li><a href="/app">posts</a></li>
            <% } %>
            <li><a href="#">About</a></li>
        </ul>
        <div>
            <% if(isLoggedIn){ %>
                <button type="button" onclick="location.href='/logoutpage'">Logout</button>
                <button type="button" onclick="location.href='/profilepage'">Profile</button>
            <% } else { %>
                <button type="button" onclick="location.href='/loginpage'">Login</button>
                <button type="button" onclick="location.href='/registerpage'">Register</button>
            <% } %>
        </div>
    </div>
</header>

<li><a href="/">Home</a></li>
<li><a href="/app">posts</a></li>
<li><a href="/register">register</a></li>
<li><a href="/login">login</a></li>
<li><a href="/logout">logout</a></li>
<li><a href="/profile">profile</a></li>
<li><a href="#">About</a></li>

<button type="button" onclick="location.href='/logoutpage'">Logout</button>
<button type="button" onclick="location.href='/profilepage'">Profile</button>
<button type="button" onclick="location.href='/loginpage'">Login</button>
<button type="button" onclick="location.href='/registerpage'">Register</button>
