<%- include('../partials/head') %>
<%- include('../partials/header') %>
<h1>Hi, I am <%= user.firstName  %></h1>
<% if (user.admin) { %>
    <p>Let me tell you a secret: <b>I am an admin</b></p>
<% } %>
<button onclick="clicked">Hello</button>

<script>
    function clicked(){
        fetch('/hello')
    }
</script>
<%- include('../partials/footer') %>